body{
    
}
.bdy{
    background-color: #1e242b;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    
}
#imgek{
    background-color: aquamarine;
    border-radius:1600px 1px 10px 400px;
}
.white{
    color: white;
}

.icon{
    color:aquamarine;
}
.text{
    margin:200px 20px 0px 20%;
    flex:3;    
}
.uper{
    display: flex;
   
}
.second-sec{
    display: flex;
    margin-top: 150px;
}
.green-box{
    background-color: aquamarine;
    height: 350px;
    width: 300px;
    margin:65px 20px 0px 10%;
    
    
}
#my-img{
    height: 600px;
}
#imge{
    height: 370px;
    width:300px;
    margin:-50px 20px 0px 13%;
   
}
.about-me{
    margin:0px 0px 0px 9% ;
    display: flex;
}
.green-line{    
    float: left;
    margin:20px 0px 0px 5%;
    height: 2px;
    width: 65%;
    background-color: aquamarine;

}
#aqua{
    color:aquamarine;
}

.p{
    margin-left:9%;
    
}
.recent-project{
    display: flex;
    margin:100px 0px 0px 10%;
}
.personal-skill{
    margin:130px 0px 0px 10%;
}
#btn{
    color: aquamarine;
    border-color: aquamarine;

}
#imge-left{
    height: 370px;
    width:300px;
    margin:-50px 30px 0px -13%;
   
}
#green-box-left{
    background-color: aquamarine;
    height: 350px;
    width: 300px;
    margin:80px 20px 0px 10%;
    
    
}
#green-line{    
    float: left;
    margin:20px 0px 0px 0px;
    height: 2px;
    width:9%;
    background-color: aquamarine;

}
#skill-container{
   
}
#progress{
    width:680px;

}
.ml{
    margin-left:10%;
}
.mt{
    margin-top: 50px;
}
.nav-item .icon {
    transition: transform 0.3s ease;
}

.nav-item:hover .icon {
    transform: translateY(-7px);
}
@media screen and (max-width: 480px) {
   #media-query{
    right: 0;
   }
   .hdr{
    width: 530px;
   }
   .text{
    margin:200px 20px 0px 4%;
    flex:3;    
     }
     #my-img{
        height: 450px;
     }
} 
